# Scrapping financial data from screener.in

In [1]:
from urllib.request import urlopen
import web_scrapping as ws
import pandas as pd
# import numpy as np

In [35]:
link = "https://www.screener.in/company/IOC/consolidated/"

page = urlopen(link)

html_bytes = page.read()
html = html_bytes.decode("utf-8")

## Quaterly Results

In [36]:
headings_value, temp, rest = ws.getting_headers(html, "Quarterly Results", "Profit & Loss")

qr_index = ['Sales', 'Expenses', 'Operating Profit', 'OPM %', 'Other Income', 'Interest', 
            'Depreciation', 'Profit before tax', 'Tax %', 'Net Profit', 'EPS in Rs']

quarter_results = pd.DataFrame(columns = headings_value)

for i in qr_index:
    values, temp = ws.func(temp, i, "td", headings_value)
    quarter_results.loc[i] = ws.string_to_float(values)

## Profit Loss

In [37]:
headings_value, temp, rest = ws.getting_headers(rest, "Profit & Loss", "Balance Sheet")

pl_index = ['Sales', 'Expenses', 'Operating Profit', 'OPM %', 'Other Income', 'Interest', 
            'Depreciation', 'Profit before tax', 'Tax %', 'Net Profit', 'EPS in Rs', 'Dividend Payout %']

pl_results = pd.DataFrame(columns = headings_value)

for i in pl_index:
    values, temp = ws.func(temp, i, "td", headings_value)
    pl_results.loc[i] = ws.string_to_float(values)

In [39]:
pl_results

,Mar 2009,Mar 2010,Mar 2011,Mar 2012,Mar 2013,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,TTM
Sales,288670.00,250046.00,309797.00,408923.00,461780.00,488345.0,449507.00,346045.00,355379.00,421492.00,528158.00,484362.00,362210.00
Expenses,281875.00,236613.00,295154.00,389402.00,447887.00,471251.0,438948.00,322584.00,321274.00,379834.00,492896.00,467906.00,339077.00
Operating Profit,6795.00,13433.00,14643.00,19521.00,13892.00,17094.0,10559.00,23461.00,34105.00,41658.00,35262.00,16456.00,23133.00
OPM %,2.00,5.00,5.00,5.00,3.00,4.0,2.00,7.00,10.00,10.00,7.00,3.00,6.00
Other Income,4325.00,6948.00,3421.00,-4268.00,3468.00,5192.0,5876.00,3796.00,4399.00,4331.00,4097.00,-7148.00,-6105.00
Interest,4282.00,1777.00,3017.00,5948.00,7164.00,5948.0,4201.00,3487.00,3743.00,3875.00,4925.00,6630.00,4418.00
Depreciation,3189.00,3555.00,4933.00,5309.00,5692.00,6360.0,5219.00,5698.00,6806.00,7664.00,8506.00,9855.00,10645.00
Profit before tax,3649.00,15049.00,10114.00,3995.00,4504.00,9978.0,7014.00,18072.00,27956.00,34450.00,25927.00,-7177.00,1965.00
Tax %,34.00,27.00,20.00,-7.00,19.00,30.0,31.00,31.00,27.00,34.00,33.00,74.00,NaN
Net Profit,2599.00,10713.00,7831.00,4226.00,4449.00,7086.0,4912.00,12022.00,19849.00,22189.00,17377.00,-893.00,4829.00
EPS in Rs,2.73,11.03,8.06,4.35,4.58,7.3,5.06,12.38,20.44,22.85,18.46,-0.95,5.13
Dividend Payout %,36.00,30.00,30.00,30.00,36.00,30.0,33.00,28.00,45.00,90.00,49.00,-437.00,NaN

## Balance Sheet

In [ ]:
headings_value, temp, rest = ws.getting_headers(rest, "Profit & Loss", "Balance Sheet")

pl_index = ['Sales', 'Expenses', 'Operating Profit', 'OPM %', 'Other Income', 'Interest', 
            'Depreciation', 'Profit before tax', 'Tax %', 'Net Profit', 'EPS in Rs', 'Dividend Payout %']

pl_results = pd.DataFrame(columns = headings_value)

for i in pl_index:
    values, temp = ws.func(temp, i, "td", headings_value)
    pl_results.loc[i] = ws.string_to_float(values)

In [10]:
headings_value, part_html, rest = ws.getting_headers(rest, "Balance Sheet", "Cash Flows")

## Subsetting the dataset for Yearly results

# Yearly sales
share_capital, temp = ws.func(part_html, "Share Capital", "td", headings_value)

# Yearly expenses
reserves, temp = ws.func(temp, "Reserves", "td", headings_value)

# Yearly operating_profit
borrowing, temp = ws.func(temp, "Borrowings", "td", headings_value)

# Yearly OPM_per
other_liabilities, temp = ws.func(temp, "Other Liabilities", "td", headings_value)

# Yearly other_income
total_liabilities, temp = ws.func(temp, "Total Liabilities", "td", headings_value)

# Yearly interest
fixed_asset, temp = ws.func(temp, "Fixed Assets", "td", headings_value)

# Yearly depreciation
cwip, temp = ws.func(temp, "CWIP", "td", headings_value)

# Yearly profit before tax
investments, temp = ws.func(temp, "Investments", "td", headings_value)

# Yearly tax%
other_assets, temp = ws.func(temp, "Other Assets", "td", headings_value)

# Yearly net profit
total_assets, temp = ws.func(temp, "Total Assets", "td", headings_value)

## Cash Flows

In [11]:
headings_value, part_html, rest = ws.getting_headers(rest, "Cash Flows", "Ratios")

In [16]:
## Subsetting the dataset for Yearly results

# Yearly sales
cash_op_act, temp = ws.func(part_html, "Cash from Operating Activity", "td", headings_value)

# Yearly expenses
cash_invest_act, temp = ws.func(temp, "Cash from Investing Activity", "td", headings_value)

# Yearly operating_profit
cash_fin_act, temp = ws.func(temp, "Cash from Financing Activity", "td", headings_value)

## Ratios

In [18]:
headings_value, part_html, rest = ws.getting_headers(rest, "Ratios", "Shareholding Pattern")

In [ ]:
## Subsetting the dataset for Yearly results

# Yearly sales
share_capital, temp = ws.func(part_html, "Share Capital", "td", headings_value)

# Yearly expenses
reserves, temp = ws.func(temp, "Reserves", "td", headings_value)

# Yearly operating_profit
borrowing, temp = ws.func(temp, "Borrowings", "td", headings_value)

# Yearly OPM_per
other_liabilities, temp = ws.func(temp, "Other Liabilities", "td", headings_value)

# Yearly other_income
total_liabilities, temp = ws.func(temp, "Total Liabilities", "td", headings_value)

# Yearly interest
fixed_asset, temp = ws.func(temp, "Fixed Assets", "td", headings_value)

# Yearly depreciation
cwip, temp = ws.func(temp, "CWIP", "td", headings_value)

# Yearly profit before tax
investments, temp = ws.func(temp, "Investments", "td", headings_value)

# Yearly tax%
other_assets, temp = ws.func(temp, "Other Assets", "td", headings_value)

# Yearly net profit
total_assets, temp = ws.func(temp, "Total Assets", "td", headings_value)

## Shareholding Pattern

In [ ]:
headings_value, part_html, rest = ws.getting_headers(rest, "Balance Sheet", "Cash Flows")

## Subsetting the dataset for Yearly results

# Yearly sales
share_capital, temp = ws.func(part_html, "Share Capital", "td", headings_value)

# Yearly expenses
reserves, temp = ws.func(temp, "Reserves", "td", headings_value)

# Yearly operating_profit
borrowing, temp = ws.func(temp, "Borrowings", "td", headings_value)

# Yearly OPM_per
other_liabilities, temp = ws.func(temp, "Other Liabilities", "td", headings_value)

# Yearly other_income
total_liabilities, temp = ws.func(temp, "Total Liabilities", "td", headings_value)

# Yearly interest
fixed_asset, temp = ws.func(temp, "Fixed Assets", "td", headings_value)

# Yearly depreciation
cwip, temp = ws.func(temp, "CWIP", "td", headings_value)

# Yearly profit before tax
investments, temp = ws.func(temp, "Investments", "td", headings_value)

# Yearly tax%
other_assets, temp = ws.func(temp, "Other Assets", "td", headings_value)

# Yearly net profit
total_assets, temp = ws.func(temp, "Total Assets", "td", headings_value)